@tailwind base;

@tailwind components;

@tailwind utilities;


html {
  font-family: "Noto Serif SC", Lusitana, serif;
}

* {
  transition: 0.2s all;
}

.post {
  font-family: "Noto Serif SC", Lusitana, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, PingFang SC, Hiragino Sans GB, Microsoft Yahei, sans-serif;
}


.post {
  @apply leading-relaxed text-gray-800;
}

.post p {
  @apply mt-4 mb-4 pl-4 pr-4;
}

.post h1 {
  @apply text-3xl font-bold pl-4 pr-4 mt-12;
}
.post h2 {
  @apply text-2xl font-bold pl-4 pr-4 mt-12;
}
.post h3 {
  @apply text-xl font-bold pl-4 pr-4 mt-12;
}
.post h4 {
  @apply text-lg font-bold pl-4 pr-4 mt-12;
}

.post img {
  @apply mx-auto;
}

.post a {
  @apply border-b-2 border-gray-500;
}

.post ul {
  @apply list-disc list-inside pl-4 pr-4;
}

.post ol {
  @apply list-decimal list-inside pl-4 pr-4;
}

.post blockquote {
  @apply bg-gray-200 text-sm text-gray-500 p-4 border-l-4 border-gray-500 italic text-lg;
}

.post blockquote {
  @apply text-sm !important;
}

.twitter {
  color: #0C9DF2;
}
.zhihu {
  color: #0767c8;
}
.weibo {
  color: #E80025;
}
.github {
  color: #333333;
}
.medium {
  color: #00ab6b;
}
.email {
  color: #4285F4;
}
.telegram {
  color: #179cde;
}

iframe {
  max-width: 100%;
}