<html>
  <%- partial('partial/head')  %>
  <body>
    <%- partial('partial/header') %>
    <div class='container'>
      <%- body %>
    </div>
    <%- partial('partial/footer') %>    
  </body>
</html>