<div class='post-body'>
  <h1 class='title'><%- page.title %></h1>
  <p class='date'><%- date(page.date, 'DD, MMM, YYYY') %></p>
  <div class='post-content'>
    <%- page.content %>
  </div>
  <center><img class="signature" width="128px" src="//randysblog.oss-cn-shenzhen.aliyuncs.com/sign_square_white.png"></center>
  <%- partial('partial/post_footer') %>
</div>