<h2 class='hr'>
  <span>Contact</span>
</h2>
<ul class='contact-list non-style-list'>
  <% for (var i = 0; i < theme.contacts.length; i++) { %>
    <li>
      <b class='<%= theme.contacts[i].className %>'><%= theme.contacts[i].className.toUpperCase() %></b>: <a href='<%= theme.contacts[i].href %>'><%= theme.contacts[i].title %></a>
    </li>
  <% } %>  
</ul>