<div id='footer'>
  <p>2014-2017 <a href='/'>Randy's Blog</a> - Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a></p>
  <p>
    <a href='http://www.miitbeian.gov.cn/'>粤ICP备16051408号</a>
  </p>
</div>