<div id='footer'>
  <p>
  <img width="256px" src="//s2.ax1x.com/2019/04/04/A2V9YT.png">
  </p>
  <p>2014-2019 <a href="/">Randy's Blog</a>
    </p><p>
    <a href="http://www.miitbeian.gov.cn/">粤ICP备16051408号</a>
  </p>

</div>