<header>
  <div class='description'>
    <img src='https://avatars1.githubusercontent.com/u/914329?v=3&s=256' />
    <p class='name'><%= config.author %></p>
    <p class='desc'><%= config.description %></p>
  </div>
  <nav>
    <ul class='nav'>
      <% for(var i = 0; i < theme.menus.length; i++) { %>
        <li class='nav-item'>
          <a href="<%= theme.menus[i].index %>"><%= theme.menus[i].title %></a>
        </li>
      <% } %>
    </ul>
  </nav>
</header>