<header>
  <div class='description'>
    <div style="background-image: url(//gbstatic.djyde.com/assets/006tKfTcgy1fkuuijv4pwj30ku0na3zq.jpg); width: 128px; height: 128px; background-size: cover; border-radius: 50%; margin: 0 auto;">
    </div>
    <p class='name'><%= config.author %></p>
    <p class='desc'><%= config.description %></p>
  </div>
  <nav>
    <ul class='nav'>
      <% for(var i = 0; i < theme.menus.length; i++) { %>
        <li class='nav-item'>
          <a href="<%= theme.menus[i].index %>"><%= theme.menus[i].title %></a>
        </li>
      <% } %>
    </ul>
  </nav>
</header>