<div class='post-footer'>
  <hr />
  <p>讨论请发邮件到 randypriv@gmail.com</p>
  <p>未经授权，禁止转载</p>
  <p>通过支付宝 djyde520@gmail.com 或赞赏码赞助此文</p>
  <p>或通过订阅我的<a href="https://xiaozhuanlan.com/djyde">付费专栏</a>支持本博客</p>
  <br />
  <p>
    <img class="bmc" src="//ws1.sinaimg.cn/large/006tKfTcgy1fkuufy2cadj30w00w0tb2.jpg" />
  </p>
</div>
