<h2 class='hr'>
  <span>Skills</span>
</h2>
<ul class='skill-list non-style-list'>
  <% for(var i = 0; i < theme.skills.length; i++) { %>
    <li class='post-list-item'><%= theme.skills[i] %></li>
  <% } %>
</ul>