<h2 class='hr'>
  <span>Talks</span>
</h2>
<ul class='talk-list non-style-list'>
  <% for (var i = theme.talks.length - 1; i >= 0; i--) { %>
    <li class='talk-list-item'>
      <span class='title'><%= theme.talks[i].title %></span>
      <span class='at'> - <%= theme.talks[i].at %></span>
      <span class='date'> <%- date(theme.talks[i].date, '(MMM, YYYY)') %></span>
      <% if (theme.talks[i].slide) { %>
         - <a href='http://slides.com/randylu/deck-3/'>Slide</a>
      <% } %>
    </li>
  <% } %>
</ul>